Croc.Bpc/Election/Data/Schemas/SourceData.xsd

<?xml version="1.0" encoding="windows-1251"?> 

<xs:schema xmlns="http://localhost/Schemas/SIB2003/SourceData" xmlns:xs="http://www.w3.org/2001/XMLSchema"

targetNamespace="http://localhost/Schemas/SIB2003/SourceData" elementFormDefault="qualified"> 

	<xs:element name="SourceData" nillable="true"> 

		<xs:annotation> 

			<xs:documentation>????? ????? ???????? ?????? Bulletin Processing Complex</xs:documentation> 

		</xs:annotation> 

		<xs:complexType> 

			<xs:complexContent> 

				<xs:extension base="SourceData"/> 

			</xs:complexContent> 

		</xs:complexType> 

	</xs:element> 

	<xs:complexType name="SourceData"> 

		<xs:annotation> 

			<xs:documentation>???????? ??????</xs:documentation> 

		</xs:annotation> 

		<xs:all> 

			<xs:element name="Elections" type="ArrayOfElection" minOccurs="0"> 

				<xs:annotation> 

					<xs:documentation>??????, ??????? ?????? ? ???????? ??????</xs:documentation> 

				</xs:annotation> 

			</xs:element> 

			<xs:element name="Blanks" type="ArrayOfBlank" minOccurs="0"> 

				<xs:annotation> 

					<xs:documentation>??????, ???????? ? ???????? ??????</xs:documentation> 

				</xs:annotation> 

			</xs:element> 

			<xs:element name="Targets" type="ArrayOfTargetCommittee" minOccurs="0"> 

				<xs:annotation> 

					<xs:documentation>???, ??? ??????? ????????????? ???????? ??????</xs:documentation> 

				</xs:annotation> 

			</xs:element> 

			<xs:element name="Modes" type="ArrayOfVotingMode" minOccurs="0"> 

				<xs:annotation> 

					<xs:documentation>???????? ????? (??????????????????) ?????? ???????</xs:documentation> 

				</xs:annotation> 

			</xs:element> 

			<xs:element name="ModeTimeTable" minOccurs="0"> 

				<xs:annotation> 

					<xs:documentation>???????? ?????? ?????????????? ????????????? ? ????????????? ????? ??????</xs:documentation> 

				</xs:annotation> 

				<xs:complexType> 

					<xs:sequence> 

						<xs:element name="ModeTime" minOccurs="0" maxOccurs="unbounded"> 

							<xs:annotation> 

								<xs:documentation>???????? ???????</xs:documentation> 

							</xs:annotation> 

							<xs:complexType> 

								<xs:attribute name="mode" type="VotingMode" use="required"> 


									<xs:annotation> 

										<xs:documentation>????? ??????</xs:documentation> 

									</xs:annotation> 

								</xs:attribute> 

								<xs:attribute name="hour" type="xs:int" use="required"> 

									<xs:annotation> 

										<xs:documentation>??? ?????? ??????</xs:documentation> 

									</xs:annotation> 

								</xs:attribute> 

								<xs:attribute name="minute" type="xs:int" use="required"> 

									<xs:annotation> 

										<xs:documentation>?????? ?????? ??????</xs:documentation> 

									</xs:annotation> 

								</xs:attribute> 

							</xs:complexType> 

						</xs:element> 

					</xs:sequence> 

				</xs:complexType> 

			</xs:element> 

		</xs:all> 

		<xs:attribute name="id" type="xs:string" use="optional"> 

			<xs:annotation> 

				<xs:documentation>?????????? ????????????? ???????? ??????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="version" type="xs:int" use="optional" default="0"> 

			<xs:annotation> 

				<xs:documentation>?????? ??. ???????????? ?? ??????? ??? ??????????? ????? ????? ?? ? ???????? ?????????????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="DateTime" type="xs:date" use="required"> 

			<xs:annotation> 

				<xs:documentation>???? ???????????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="localTimeZone" type="xs:string" use="optional"> 

			<xs:annotation> 

				<xs:documentation>????????? ??????? ????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="Mode" type="AuxLibrary.Voting.ElectionMode" use="optional"> 

			<xs:annotation> 

				<xs:documentation>????? ?????????? ???????				</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="FileSuffix" type="xs:string" use="optional"> 

			<xs:annotation> 

				<xs:documentation>??????? ????? ????? "???????" ?????? ???????, ??????????? ? ????? ????? ????? ????? ??????????? ???? ????????? ?? ???? ?

??????????? ????????</xs:documentation> 

			</xs:annotation> 


		</xs:attribute> 

		<xs:attribute name="TrainingFileSuffix" type="xs:string" use="optional"> 

			<xs:annotation> 

				<xs:documentation>??????? ????? ????? ?????????????? ??????, ??????????? ? ????? ????? ????? ????? ??????????? ???? ????????? ?? ???? ?

??????????? ????????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="isGasVrn" type="xs:boolean" use="required"> 

			<xs:annotation> 

				<xs:documentation>??? ??????????????? ????????? ? ???????. 

1) true - ? ???????? ??????????????? ???????????? ??? ?? ??? ?????? 

2) false - ? ???????? ??????????????? ???????????? ObjectID ?? ???????????????? ??????		</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

	</xs:complexType> 

	<xs:complexType name="ArrayOfElection"> 

		<xs:sequence> 

			<xs:element name="Election" nillable="true" minOccurs="0" maxOccurs="unbounded"> 

				<xs:annotation> 

					<xs:documentation>?????? ???????</xs:documentation> 

				</xs:annotation> 

				<xs:complexType> 

					<xs:complexContent> 

						<xs:extension base="Election"> 

							<xs:attribute name="id" type="ObjectId" use="optional"> 

								<xs:annotation> 

									<xs:documentation>????????????? ?????? ????????? (????? ?????????????, ? ???? ?????? ????????????? ????????? ?? ????????? ????????

NUM)</xs:documentation> 

								</xs:annotation> 

							</xs:attribute> 

						</xs:extension> 

					</xs:complexContent> 

				</xs:complexType> 

			</xs:element> 

		</xs:sequence> 

	</xs:complexType> 

	<xs:complexType name="ArrayOfVotingMode"> 

		<xs:sequence> 

			<xs:element name="Mode" type="VotingMode" nillable="true" minOccurs="0" maxOccurs="unbounded"> 

				<xs:annotation> 

					<xs:documentation>?????? ??????? ???????????</xs:documentation> 

				</xs:annotation> 

			</xs:element> 

		</xs:sequence> 

	</xs:complexType> 

	<xs:simpleType name="VotingMode"> 

		<xs:annotation> 

			<xs:documentation>????? ???????????</xs:documentation> 

		</xs:annotation> 

		<xs:restriction base="xs:NCName"> 


			<xs:enumeration value="Ahead"> 

				<xs:annotation> 

					<xs:documentation>????????? ???????????</xs:documentation> 

				</xs:annotation> 

			</xs:enumeration> 

			<xs:enumeration value="Main"> 

				<xs:annotation> 

					<xs:documentation>???????????? ???????????</xs:documentation> 

				</xs:annotation> 

			</xs:enumeration> 

			<xs:enumeration value="Portable"> 

				<xs:annotation> 

					<xs:documentation>?????????? ???????????</xs:documentation> 

				</xs:annotation> 

			</xs:enumeration> 

		</xs:restriction> 

	</xs:simpleType> 

	<xs:complexType name="Election"> 

		<xs:annotation> 

			<xs:documentation>?????? ?????????? ? ?????? ???????????</xs:documentation> 

		</xs:annotation> 

		<xs:all> 

			<xs:element name="ParentComittee"> 

				<xs:annotation> 

					<xs:documentation>?????? ? ??????????? ????????</xs:documentation> 

				</xs:annotation> 

				<xs:complexType> 

					<xs:attribute name="parentid" type="ObjectId" use="required"> 

						<xs:annotation> 

							<xs:documentation>????????????? (???) ??????????? ????????</xs:documentation> 

						</xs:annotation> 

					</xs:attribute> 

					<xs:attribute name="name" type="xs:string" use="required"> 

						<xs:annotation> 

							<xs:documentation>???????????? ??????????? ????????</xs:documentation> 

						</xs:annotation> 

					</xs:attribute> 

					<xs:attribute name="e-mail" type="xs:string" use="optional"> 

						<xs:annotation> 

							<xs:documentation>????? ??????????? ????? ??? ??????????? ????????</xs:documentation> 

						</xs:annotation> 

					</xs:attribute> 

				</xs:complexType> 

			</xs:element> 

			<xs:element name="StampCommittees"> 

				<xs:annotation> 

					<xs:documentation>????????? ??? ???????? ???????????? ??????, ??? ????? ????????? ????????? ???????????</xs:documentation> 

				</xs:annotation> 

				<xs:complexType> 

					<xs:sequence> 


						<xs:element name="StampCommittee" minOccurs="0" maxOccurs="unbounded"> 

							<xs:annotation> 

								<xs:documentation>???????? ???????????? ??????, ??? ????? ????????? ????????? ???????????</xs:documentation> 

							</xs:annotation> 

							<xs:complexType> 

								<xs:attribute name="num" use="required"> 

									<xs:annotation> 

										<xs:documentation>????? ????????, ??? ????? ??????????? ????????? ???????????</xs:documentation> 

									</xs:annotation> 

								</xs:attribute> 

							</xs:complexType> 

						</xs:element> 

					</xs:sequence> 

				</xs:complexType> 

			</xs:element> 

			<xs:element name="Protocol" type="ProtocolTemplate" minOccurs="0"> 

				<xs:annotation> 

					<xs:documentation>?????? ????????? ???????????</xs:documentation> 

				</xs:annotation> 

			</xs:element> 

			<xs:element name="Candidates" type="ArrayOfCandidate" minOccurs="0"> 

				<xs:annotation> 

					<xs:documentation>????????? ?? ?????? ???????</xs:documentation> 

				</xs:annotation> 

			</xs:element> 

			<xs:element name="Modes" type="ArrayOfVotingMode"> 

				<xs:annotation> 

					<xs:documentation>????????? ???? (??????) ??????????? ? ????????</xs:documentation> 

				</xs:annotation> 

			</xs:element> 

		</xs:all> 

		<xs:attribute name="name" type="xs:string"> 

			<xs:annotation> 

				<xs:documentation>???????????? ???????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="maxMarks" type="xs:int" use="required"> 

			<xs:annotation> 

				<xs:documentation>?????????? ????????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="num" type="ObjectId" use="required"> 

			<xs:annotation> 

				<xs:documentation>????????????? ??????? (? ?????? ????????? ? ?????? ?????????? ???????? NUM)</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="disabled" type="xs:boolean" use="optional" default="false"> 

			<xs:annotation> 

				<xs:documentation>?????? ????????? (?? ????????????? ? ?? ???????????? ?????????)</xs:documentation> 

			</xs:annotation> 


		</xs:attribute> 

	</xs:complexType> 

	<xs:complexType name="ProtocolTemplate"> 

		<xs:annotation> 

			<xs:documentation>?????? ????????? ? ?????????? ???????</xs:documentation> 

		</xs:annotation> 

		<xs:all> 

			<xs:element name="Lines" type="ArrayOfLine" minOccurs="0"> 

				<xs:annotation> 

					<xs:documentation>?????? ?????????</xs:documentation> 

				</xs:annotation> 

			</xs:element> 

			<xs:element name="Checks" type="ArrayOfCheck" minOccurs="0"> 

				<xs:annotation> 

					<xs:documentation>?????? ????? ? ???????????? ?????????????</xs:documentation> 

				</xs:annotation> 

			</xs:element> 

			<xs:element name="Texts" minOccurs="0"> 

				<xs:annotation> 

					<xs:documentation>?????? ?????? ?????????? ? ????????</xs:documentation> 

				</xs:annotation> 

				<xs:complexType> 

					<xs:complexContent> 

						<xs:extension base="ProtocolText"> 

							<xs:sequence> 

								<xs:element name="Text" minOccurs="0" maxOccurs="unbounded"> 

									<xs:complexType> 

										<xs:sequence> 

											<xs:element name="Table" minOccurs="0"> 

												<xs:annotation> 

													<xs:documentation>?????? ???????? ?????????? ? ????? ?????????</xs:documentation> 

												</xs:annotation> 

												<xs:complexType> 

													<xs:sequence> 

														<xs:element name="VoteLine" minOccurs="0" maxOccurs="unbounded"> 

															<xs:complexType> 

																<xs:attribute name="bold" type="xs:boolean" use="optional" default="false"> 

																	<xs:annotation> 

																		<xs:documentation>??????? ??????? ??????</xs:documentation> 

																	</xs:annotation> 

																</xs:attribute> 

																<xs:attribute name="italic" type="xs:boolean" use="optional" default="false"> 

																	<xs:annotation> 

																		<xs:documentation>??????? ???????</xs:documentation> 

																	</xs:annotation> 

																</xs:attribute> 

																<xs:attribute name="fontSize" type="xs:int" use="optional" default="8"> 

																	<xs:annotation> 

																		<xs:documentation>?????? ??????</xs:documentation> 

																	</xs:annotation> 


																</xs:attribute> 

																<xs:attribute name="ID" type="ObjectId" use="optional"> 

																	<xs:annotation> 

																		<xs:documentation>????????????? ?????????</xs:documentation> 

																	</xs:annotation> 

																</xs:attribute> 

																<xs:attribute name="type" type="AuxLibrary.Voting.VoteLineType" use="required"/> 

															</xs:complexType> 

														</xs:element> 

													</xs:sequence> 

												</xs:complexType> 

											</xs:element> 

											<xs:element name="ProtocolLines" minOccurs="0"> 

												<xs:annotation> 

													<xs:documentation>?????? ???????? ?????????? ? ???????? ?????????</xs:documentation> 

												</xs:annotation> 

												<xs:complexType> 

													<xs:sequence> 

														<xs:element name="ProtocolLine" minOccurs="0" maxOccurs="unbounded"> 

															<xs:complexType> 

																<xs:simpleContent> 

																	<xs:extension base="xs:string"> 

																		<xs:attribute name="align" type="AuxLibrary.Printing.LineAlign"> 

																			<xs:annotation> 

																				<xs:documentation>???????????? ??????</xs:documentation> 

																			</xs:annotation> 

																		</xs:attribute> 

																		<xs:attribute name="bold" type="xs:boolean"> 

																			<xs:annotation> 

																				<xs:documentation>??????? ??????? ??????</xs:documentation> 

																			</xs:annotation> 

																		</xs:attribute> 

																		<xs:attribute name="section" type="AuxLibrary.Voting.Section"> 

																			<xs:annotation> 

																				<xs:documentation>??????</xs:documentation> 

																			</xs:annotation> 

																		</xs:attribute> 

																		<xs:attribute name="italic" type="xs:boolean"> 

																			<xs:annotation> 

																				<xs:documentation>??????? ???????</xs:documentation> 

																			</xs:annotation> 

																		</xs:attribute> 

																		<xs:attribute name="fontSize" type="xs:int"> 

																			<xs:annotation> 

																				<xs:documentation>?????? ??????</xs:documentation> 

																			</xs:annotation> 

																		</xs:attribute> 

																	</xs:extension> 

																</xs:simpleContent> 

															</xs:complexType> 


														</xs:element> 

													</xs:sequence> 

												</xs:complexType> 

											</xs:element> 

										</xs:sequence> 

										<xs:attribute name="final" type="xs:boolean" use="required"> 

											<xs:annotation> 

												<xs:documentation>???? ????????????? ???????? ? ???????? (true) ??? ??????????????? (false) ?????????</xs:documentation> 

											</xs:annotation> 

										</xs:attribute> 

									</xs:complexType> 

								</xs:element> 

							</xs:sequence> 

						</xs:extension> 

					</xs:complexContent> 

				</xs:complexType> 

			</xs:element> 

			<xs:element name="ExtraChecks" type="ArrayOfLine" minOccurs="0"> 

				<xs:annotation> 

					<xs:documentation>??????????? ??????????? ?? ?? ????, ?? ?????? ???????????? ? ????????? ???????</xs:documentation> 

				</xs:annotation> 

			</xs:element> 

		</xs:all> 

		<xs:attribute name="name" type="xs:string"> 

			<xs:annotation> 

				<xs:documentation>???????????? ?????????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="numberWidth" type="xs:int" use="required"> 

			<xs:annotation> 

				<xs:documentation>?????? ??????? ? ??????? ??????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="nameWidth" type="xs:int" use="required"> 

			<xs:annotation> 

				<xs:documentation>?????? ??????? ? ?????? ??????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="valueWidth" type="xs:int" use="required"> 

			<xs:annotation> 

				<xs:documentation>?????? ??????? ?? ????????? ??????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="textValueWidth" type="xs:int" use="required"> 

			<xs:annotation> 

				<xs:documentation>?????? ??????? ?? ????????? ?????? ????????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="disabledString" type="xs:string"> 

			<xs:annotation> 


				<xs:documentation>?????? - ?????? ??????????? ?????? ??????????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

	</xs:complexType> 

	<xs:complexType name="ArrayOfLine"> 

		<xs:sequence> 

			<xs:element name="Line" nillable="true" minOccurs="0" maxOccurs="unbounded"> 

				<xs:annotation> 

					<xs:documentation>?????? ????? ?????????</xs:documentation> 

				</xs:annotation> 

				<xs:complexType> 

					<xs:complexContent> 

						<xs:extension base="Line"> 

							<xs:attribute name="ID" type="ObjectId" use="optional"> 

								<xs:annotation> 

									<xs:documentation>????????????? ??????</xs:documentation> 

								</xs:annotation> 

							</xs:attribute> 

						</xs:extension> 

					</xs:complexContent> 

				</xs:complexType> 

			</xs:element> 

		</xs:sequence> 

	</xs:complexType> 

	<xs:complexType name="Line"> 

		<xs:annotation> 

			<xs:documentation>?????? ?????????</xs:documentation> 

		</xs:annotation> 

		<xs:attribute name="expression" type="xs:string"> 

			<xs:annotation> 

				<xs:documentation>??????? ?????????? ???????? ??????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="name" type="xs:string"> 

			<xs:annotation> 

				<xs:documentation>???????? ??????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="num" type="xs:int" use="required"> 

			<xs:annotation> 

				<xs:documentation>????? ??????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="additionalNum" type="xs:string"> 

			<xs:annotation> 

				<xs:documentation>?????????????? ????? - ????? ? ?.?.</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="type" type="LineTypes" use="required"> 

			<xs:annotation> 


				<xs:documentation>??? ??????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

	</xs:complexType> 

	<xs:simpleType name="LineTypes"> 

		<xs:annotation> 

			<xs:documentation>???? ?????</xs:documentation> 

		</xs:annotation> 

		<xs:restriction base="xs:string"> 

			<xs:enumeration value="DontQueryUser"> 

				<xs:annotation> 

					<xs:documentation>?? ??????????? ????????????</xs:documentation> 

				</xs:annotation> 

			</xs:enumeration> 

			<xs:enumeration value="Voting"> 

				<xs:annotation> 

					<xs:documentation>??? ???????????</xs:documentation> 

				</xs:annotation> 

			</xs:enumeration> 

			<xs:enumeration value="Blank"> 

				<xs:annotation> 

					<xs:documentation>??? ??????</xs:documentation> 

				</xs:annotation> 

			</xs:enumeration> 

			<xs:enumeration value="Election"> 

				<xs:annotation> 

					<xs:documentation>??? ???????</xs:documentation> 

				</xs:annotation> 

			</xs:enumeration> 

		</xs:restriction> 

	</xs:simpleType> 

	<xs:complexType name="ArrayOfCheck"> 

		<xs:sequence> 

			<xs:element name="Check" type="Check" nillable="true" minOccurs="0" maxOccurs="unbounded"> 

				<xs:annotation> 

					<xs:documentation>?????? ??????????? ???????????</xs:documentation> 

				</xs:annotation> 

			</xs:element> 

		</xs:sequence> 

	</xs:complexType> 

	<xs:complexType name="Check"> 

		<xs:annotation> 

			<xs:documentation>??????????? ???????????</xs:documentation> 

		</xs:annotation> 

		<xs:attribute name="expression" type="xs:string"> 

			<xs:annotation> 

				<xs:documentation>??????? ???????? ???????????? ???????????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="enabled" type="xs:boolean" use="required"> 


			<xs:annotation> 

				<xs:documentation>???????? ?? ??????????? ???????????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="mild" type="xs:boolean" use="optional" default="false"> 

			<xs:annotation> 

				<xs:documentation>??????? ????, ??? ?? ??????, ?.?. ??????????? ???????? ?????????, ???? ????? ?? ?? ?????????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

	</xs:complexType> 

	<xs:complexType name="ArrayOfCandidate"> 

		<xs:sequence> 

			<xs:element name="Candidate" type="Candidate" nillable="true" minOccurs="0" maxOccurs="unbounded"> 

				<xs:annotation> 

					<xs:documentation>?????? ??????????</xs:documentation> 

				</xs:annotation> 

			</xs:element> 

		</xs:sequence> 

	</xs:complexType> 

	<xs:complexType name="Candidate"> 

		<xs:annotation> 

			<xs:documentation>????????</xs:documentation> 

		</xs:annotation> 

		<xs:attribute name="lastName" type="xs:string"> 

			<xs:annotation> 

				<xs:documentation>???????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="firstName" type="xs:string"> 

			<xs:annotation> 

				<xs:documentation>???</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="patronymic" type="xs:string"> 

			<xs:annotation> 

				<xs:documentation>????????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="registered" type="xs:boolean" use="required"> 

			<xs:annotation> 

				<xs:documentation>???????? ??????????????? ? ????? ???????? ?? ?????????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="disabled" type="xs:boolean" use="required"> 

			<xs:annotation> 

				<xs:documentation>???????? ???? ? ???????????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="disabledLocally" type="xs:boolean" use="optional"> 

			<xs:annotation> 


				<xs:documentation>??????? ??????????????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="id" type="ObjectId" use="required"> 

			<xs:annotation> 

				<xs:documentation>????????????? ?????????/?????????????? ?????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="num" type="xs:int" use="required"> 

			<xs:annotation> 

				<xs:documentation>?????????? ????? ?????????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="biography" type="xs:string"> 

			<xs:annotation> 

				<xs:documentation>????????? ????????? (?? ?????????)</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="selfRegistered" type="xs:boolean" use="required"> 

			<xs:annotation> 

				<xs:documentation>??????? ??????????????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="party" type="xs:string"> 

			<xs:annotation> 

				<xs:documentation>???????? ? ???????????? ??????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="noneAbove" type="xs:boolean" use="required"> 

			<xs:annotation> 

				<xs:documentation>??????? ??????? "?????? ????"</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

	</xs:complexType> 

	<xs:complexType name="ArrayOfBlank"> 

		<xs:sequence> 

			<xs:element name="Blank" type="Blank" nillable="true" minOccurs="0" maxOccurs="unbounded"> 

				<xs:annotation> 

					<xs:documentation>?????? ??????? ???????????</xs:documentation> 

				</xs:annotation> 

			</xs:element> 

		</xs:sequence> 

	</xs:complexType> 

	<xs:complexType name="Blank"> 

		<xs:annotation> 

			<xs:documentation>????? ???????????</xs:documentation> 

		</xs:annotation> 

		<xs:all> 

			<xs:element name="model" type="xs:string"> 

				<xs:annotation> 


					<xs:documentation>?????? ? ?????????????? ????????? ??????. ?????? ???????? ???????? ???????? ??????</xs:documentation> 

				</xs:annotation> 

			</xs:element> 

			<xs:element name="Sections" type="ArrayOfObjectIds"> 

				<xs:annotation> 

					<xs:documentation>?????? ???????? ???????, ??????????? ?? ??????</xs:documentation> 

				</xs:annotation> 

			</xs:element> 

		</xs:all> 

		<xs:attribute name="marker" type="xs:int" use="required"> 

			<xs:annotation> 

				<xs:documentation>?????, ?????????? ???????????????? ?????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="name" type="xs:string"> 

			<xs:annotation> 

				<xs:documentation>???????? ??????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="width" type="xs:int" use="required"> 

			<xs:annotation> 

				<xs:documentation>?????? ?????? ??? ?????????? ??????????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="height" type="xs:int" use="required"> 

			<xs:annotation> 

				<xs:documentation>?????? ?????? ??? ?????????? ??????????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="delta" type="xs:int" use="required"> 

			<xs:annotation> 

				<xs:documentation>?????????? ?????? ??? ??????? ??????????? ? ???????????? ????? ??????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="orientation" type="Orientation" use="required"/> 

		<xs:attribute name="maxPShift" type="xs:int"> 

			<xs:annotation> 

				<xs:documentation>??????????? ?????????? ???????? ???????????? ?????? ???? ??? ?????????? ??????????. (???? ?? ??????, ?? ??????????? ?????

????????)</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="maxLShift" type="xs:int"> 

			<xs:annotation> 

				<xs:documentation>??????????? ?????????? ???????? ???????????? ?????? ???? ??? ????????? ??????????. (???? ?? ??????, ?? ??????????? ?????

????????)</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="num" type="ObjectId" use="required"> 

			<xs:annotation> 

				<xs:documentation>????????????? ?????? ?????????</xs:documentation> 


			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="density" type="xs:int" use="optional"> 

			<xs:annotation> 

				<xs:documentation> 

					?????????? ????? ????????? ?????? ?????????? ??????? ???? 

					0 ??? ??????? ?? ????? - ????? ????????? ???????? ???????? ????? ???????? ??? ????????? 

				</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="markerType" type="AuxLibrary.Voting.MarketType" use="optional"> 

			<xs:annotation> 

				<xs:documentation>??? ??????? : ???????? ??? ?????-??????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

	</xs:complexType> 

	<xs:complexType name="ArrayOfObjectIds"> 

		<xs:sequence> 

			<xs:element name="int" type="ObjectId" minOccurs="0" maxOccurs="unbounded"> 

				<xs:annotation> 

					<xs:documentation>?????? ????? ?????</xs:documentation> 

				</xs:annotation> 

			</xs:element> 

		</xs:sequence> 

	</xs:complexType> 

	<xs:complexType name="ArrayOfTargetCommittee"> 

		<xs:sequence> 

			<xs:element name="TargetCommittee" type="TargetCommittee" nillable="true" minOccurs="0" maxOccurs="unbounded"> 

				<xs:annotation> 

					<xs:documentation>?????? ???????? ??? ??????? ?????????????? ???????? ??????</xs:documentation> 

				</xs:annotation> 

			</xs:element> 

		</xs:sequence> 

	</xs:complexType> 

	<xs:complexType name="TargetCommittee"> 

		<xs:annotation> 

			<xs:documentation>???????? ??? ??????? ?????????????? ???????? ??????</xs:documentation> 

		</xs:annotation> 

		<xs:attribute name="num" type="xs:int" use="required"> 

			<xs:annotation> 

				<xs:documentation>????? ????????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

		<xs:attribute name="name" type="xs:string"> 

			<xs:annotation> 

				<xs:documentation>???????????? ????????</xs:documentation> 

			</xs:annotation> 

		</xs:attribute> 

	</xs:complexType> 

	<xs:simpleType name="Orientation"> 


		<xs:annotation> 

			<xs:documentation>?????????? ?????????? _???????_ ?? ??????. ? ?????????? ?????? ????????? ?? ?????</xs:documentation> 

		</xs:annotation> 

		<xs:restriction base="xs:string"> 

			<xs:enumeration value="P"> 

				<xs:annotation> 

					<xs:documentation>?????????? ?????????? (= ?????? ??????????????? ????? ?????????)</xs:documentation> 

				</xs:annotation> 

			</xs:enumeration> 

			<xs:enumeration value="L"> 

				<xs:annotation> 

					<xs:documentation>????????? ?????????? (= ?????? ??????????? ????? ?????????)</xs:documentation> 

				</xs:annotation> 

			</xs:enumeration> 

			<xs:enumeration value="PL"> 

				<xs:annotation> 

					<xs:documentation>?????????? ? ????????? ??????????</xs:documentation> 

				</xs:annotation> 

			</xs:enumeration> 

		</xs:restriction> 

	</xs:simpleType> 

	<xs:simpleType name="ObjectId"> 

		<xs:annotation> 

			<xs:documentation>????????????? ???????. ????? ???? ??? ????? ObjectID ?? ???????????????? ?????? ??? ? ??? (22-? ??????? FLOAT) ?? ???

??????</xs:documentation> 

		</xs:annotation> 

		<xs:restriction base="xs:string"> 

			<xs:minLength value="1"/> 

		</xs:restriction> 

	</xs:simpleType> 

	<xs:simpleType name="AuxLibrary.Voting.Section"> 

		<xs:annotation> 

			<xs:documentation>AuxLibrary.Voting.Section</xs:documentation> 

		</xs:annotation> 

		<xs:restriction base="xs:string"> 

			<xs:enumeration value="PageHeader"> 

				<xs:annotation> 

					<xs:documentation>?????? ????????? ??????</xs:documentation> 

				</xs:annotation> 

			</xs:enumeration> 

			<xs:enumeration value="Header"> 

				<xs:annotation> 

					<xs:documentation>?????? ????????? ????????</xs:documentation> 

				</xs:annotation> 

			</xs:enumeration> 

			<xs:enumeration value="Footer"> 

				<xs:annotation> 

					<xs:documentation>?????? ??????? ????????</xs:documentation> 

				</xs:annotation> 

			</xs:enumeration> 


			<xs:enumeration value="PageFooter"> 

				<xs:annotation> 

					<xs:documentation>?????? ??????? ??????</xs:documentation> 

				</xs:annotation> 

			</xs:enumeration> 

		</xs:restriction> 

	</xs:simpleType> 

	<xs:simpleType name="AuxLibrary.Printing.LineAlign"> 

		<xs:annotation> 

			<xs:documentation>AuxLibrary.Printing.LineAlign</xs:documentation> 

		</xs:annotation> 

		<xs:restriction base="xs:string"> 

			<xs:enumeration value="Left"> 

				<xs:annotation> 

					<xs:documentation>???????????? ?? ?????? ????</xs:documentation> 

				</xs:annotation> 

			</xs:enumeration> 

			<xs:enumeration value="Right"> 

				<xs:annotation> 

					<xs:documentation>???????????? ?? ??????? ????</xs:documentation> 

				</xs:annotation> 

			</xs:enumeration> 

			<xs:enumeration value="Center"> 

				<xs:annotation> 

					<xs:documentation>???????????? ?? ??????</xs:documentation> 

				</xs:annotation> 

			</xs:enumeration> 

		</xs:restriction> 

	</xs:simpleType> 

	<xs:simpleType name="AuxLibrary.Voting.ElectionMode"> 

		<xs:annotation> 

			<xs:documentation>AuxLibrary.Voting.ElectionMode</xs:documentation> 

		</xs:annotation> 

		<xs:restriction base="xs:string"> 

			<xs:enumeration value="None"> 

				<xs:annotation> 

					<xs:documentation>????? ??????? ???? ?? ?????? (?????? ?? ???? ???????)</xs:documentation> 

				</xs:annotation> 

			</xs:enumeration> 

			<xs:enumeration value="Training"> 

				<xs:annotation> 

					<xs:documentation>????????????? ?????</xs:documentation> 

				</xs:annotation> 

			</xs:enumeration> 

			<xs:enumeration value="Real"> 

				<xs:annotation> 

					<xs:documentation>"??????" ?????</xs:documentation> 

				</xs:annotation> 

			</xs:enumeration> 

		</xs:restriction> 


	</xs:simpleType> 

	<xs:simpleType name="AuxLibrary.Voting.MarketType"> 

		<xs:annotation> 

			<xs:documentation>??? ???????</xs:documentation> 

		</xs:annotation> 

		<xs:restriction base="xs:string"> 

			<xs:enumeration value="Digital"> 

				<xs:annotation> 

					<xs:documentation>????????</xs:documentation> 

				</xs:annotation> 

			</xs:enumeration> 

			<xs:enumeration value="BarCode"> 

				<xs:annotation> 

					<xs:documentation>?????-??????</xs:documentation> 

				</xs:annotation> 

			</xs:enumeration> 

		</xs:restriction> 

	</xs:simpleType> 

	<xs:complexType name="ArrayOfCommand"> 

		<xs:sequence> 

			<xs:element name="Command" type="AuxLibrary.SIB.ScannerCommand" nillable="true" minOccurs="0" maxOccurs="unbounded"> 

				<xs:annotation> 

					<xs:documentation>?????????????????? ?????? ???????</xs:documentation> 

				</xs:annotation> 

			</xs:element> 

		</xs:sequence> 

	</xs:complexType> 

	<xs:simpleType name="ScanType"> 

		<xs:annotation> 

			<xs:documentation>??? ???????</xs:documentation> 

		</xs:annotation> 

		<xs:restriction base="xs:string"> 

			<xs:enumeration value="V2005"> 

				<xs:annotation> 

					<xs:documentation>2005</xs:documentation> 

				</xs:annotation> 

			</xs:enumeration> 

			<xs:enumeration value="V2003"> 

				<xs:annotation> 

					<xs:documentation>2003</xs:documentation> 

				</xs:annotation> 

			</xs:enumeration> 

		</xs:restriction> 

	</xs:simpleType> 

	<xs:simpleType name="AuxLibrary.SIB.ScannerCommand"> 

		<xs:annotation> 

			<xs:documentation>??????? ???????</xs:documentation> 

		</xs:annotation> 

		<xs:restriction base="xs:string"> 

			<xs:enumeration value="HardReset"> 


				<xs:annotation> 

					<xs:documentation>???????????? ?? ???????</xs:documentation> 

				</xs:annotation> 

			</xs:enumeration> 

			<xs:enumeration value="SoftReset"> 

				<xs:annotation> 

					<xs:documentation>?????????? ???????????? ??????</xs:documentation> 

				</xs:annotation> 

			</xs:enumeration> 

			<xs:enumeration value="RestoreDefaults"> 

				<xs:annotation> 

					<xs:documentation>???????????? ?????????</xs:documentation> 

				</xs:annotation> 

			</xs:enumeration> 

			<xs:enumeration value="ApplyConfigChanges"> 

				<xs:annotation> 

					<xs:documentation>????????? ????????? ???????????? ?? ?? (??? ?????????? ????? RestoreDefaults)</xs:documentation> 

				</xs:annotation> 

			</xs:enumeration> 

		</xs:restriction> 

	</xs:simpleType> 

	<xs:complexType name="ProtocolText"> 

		<xs:annotation> 

			<xs:documentation>???????? ??????? ?????????</xs:documentation> 

		</xs:annotation> 

	</xs:complexType> 

	<xs:simpleType name="AuxLibrary.Voting.VoteLineType"> 

		<xs:annotation> 

			<xs:documentation>??? ??????</xs:documentation> 

		</xs:annotation> 

		<xs:restriction base="xs:string"> 

			<xs:enumeration value="Vote"> 

				<xs:annotation> 

					<xs:documentation>??????, ??????????? ??????????? ??????????</xs:documentation> 

				</xs:annotation> 

			</xs:enumeration> 

			<xs:enumeration value="Line"> 

				<xs:annotation> 

					<xs:documentation>??????, ??????????? ??????????? ????? ?????????</xs:documentation> 

				</xs:annotation> 

			</xs:enumeration> 

			<xs:enumeration value="Delimiter"> 

				<xs:annotation> 

					<xs:documentation>??????, ??????-???????????</xs:documentation> 

				</xs:annotation> 

			</xs:enumeration> 

		</xs:restriction> 

	</xs:simpleType> 

</xs:schema>


