Croc.Bpc/Workflow/Activities/BpcNextActivityKeys.xsd

<?xml version="1.0" encoding="utf-8"?> 
<xs:schema xmlns="http://schemas.croc.ru/Workflow/BpcNextActivityKeys" 
           targetNamespace="http://schemas.croc.ru/Workflow/BpcNextActivityKeys" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema"  
           id="BpcNextActivityKeys"> 
  <xs:attribute name="Yes"> 


  </xs:attribute> 
    <xs:attribute name="No"> 


  </xs:attribute> 
  <xs:attribute name="YesAndNo"> 


  </xs:attribute> 
  <xs:attribute name="HelpAndNo"> 


  </xs:attribute> 
    <xs:attribute name="Back"> 


  </xs:attribute> 
  <xs:attribute name="Help"> 


  </xs:attribute> 
</xs:schema>
