Croc.Bpc/Workflow/Activities/Cancelation/BpcNextActivityKeys_Cancelation.xsd

<?xml version="1.0" encoding="utf-8"?> 
<xs:schema xmlns="http://schemas.croc.ru/Workflow/BpcNextActivityKeys/Cancelation" xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://schemas.croc.ru/Workflow/BpcNextActivityKeys/Cancelation" elementFormDefault="qualified" attributeFormDefault="unqualified"
id="BpcNextActivityKeys_Cancelation"> 
    <xs:attribute name="CanceledLocally"> 


    </xs:attribute> 
    <xs:attribute name="CanceledInSD"> 


    </xs:attribute> 
    <xs:attribute name="NotCanceled"> 


    </xs:attribute> 
</xs:schema>
